<div>
    <!-- head area -->
    <section class="docs-head bg-primary py-3">
        <div class="container grid">
            <div>
                <h1 class="xl">Docs</h1>
                <p class="lead">Lorem, ipsum dolor 
                    sit amet consectetur 
                    adipisicing elit. Est porro 
                    ullam veniam explicabo 
                </p>
            </div>
            <img src="../../assets/docs.png" alt="server.png">
        </div>
    </section>
    <!-- Docs main -->
    <section>
        <div class="docs-main my-4">
            <!-- <app-doc-side-bar></app-doc-side-bar> -->
            <app-doc-main-section></app-doc-main-section>
        </div>
    </section>
</div>