<div class="languages">
    <h2 class="md text-center my-2">
        supported languages
    </h2>
    <div class="container flex">
        <div class="card">
            <h4>node.js</h4>
            <img src="..." alt="">
        </div>
        <div class="card">
            <h4>Python</h4>
            <img src="..." alt="">
        </div>
        <div class="card">
            <h4>C#</h4>
            <img src="..." alt="">
        </div>
        <div class="card">
            <h4>Rubby</h4>
            <img src="..." alt="">
        </div>
        <div class="card">
            <h4>PHP</h4>
            <img src="..." alt="">
        </div>
        <div class="card">
            <h4>Scala</h4>
            <img src="..." alt="">
        </div>
        <div class="card">
            <h4>Clojure</h4>
            <img src="..." alt="">
        </div>
    </div>
</div>