<section class="docs-main my-4">
<div class="container grid">
    <div class="card bg-light p-3">
        <h3 class="my-2">Essentials</h3>
        <nav>
            <ul>
                <li><a class ="text-primary" href="">Introduction</a></li>
                <li><a routerLink="about">About Loruki</a></li>
                <li><a href="">Installation</a></li>
            </ul>
        </nav>
        <h3 class="my-2">Deployment</h3>
        <nav>
            <ul>
                <li><a href="">setting up a container</a></li>
                <li><a href=""> using the cli</a></li>
                <li><a href="">managing resources</a></li>
                <li><a href="">upgrade and downgrade</a></li>
            </ul>
        </nav>
    </div>
    <div class="card">
    <h2>Introduction</h2>
    <p>Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Nam, voluptatem similique 
        pariatur eveniet molestiae quia quae fuga maxime 
        exercitationem impedit reiciendis commodi accusamus 
        iusto adipisci. Odio dicta saepe voluptas vero!
    </p>
    <div class="alert alert-success">
        <i class="fas fa-info"></i>Lorem ipsum, 
        dolor sit amet consectetur adipisicing 
        elit. Amet, est.
    </div>

    <h3>Lorem, ipsum dolor.</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident dicta numquam labore aliquam 
        itaque esse nesciunt obcaecati doloremque molestias fuga.
    </p>
    <a href=""class="btn btn-primary">install CLI</a>

    <h3>Requirement</h3>
    <ul>
        <li>Windows 10, Mac 0sx, Linux</li>
        <li>node.js v12 or higher</li>
    </ul>

    <h3>Install</h3>
    <p>Mac (Homebrew)</p>
    <pre><code>brew install loruki-cli</code></pre>
    <p>NPM</p>
    <pre><code>npm install loruki-cli</code></pre>
    <p>Yarn</p>
    <pre><code>yarn install loruki-cli</code></pre>
    </div>
</div>
</section>