<section class="docs-main my-4">
    <div class="container grid">
        <div class="card bg-light p-3">
            <h2>About Loruki</h2>
            <p>Lorem ipsum dolor sit amet consectetur 
                adipisicing elit. Nam, voluptatem similique 
                pariatur eveniet molestiae quia quae fuga maxime 
                exercitationem impedit reiciendis commodi accusamus 
                iusto adipisci. Odio dicta saepe voluptas vero!
            </p>   
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Nesciunt perspiciatis aut possimus adipisci ducimus molestiae 
                nam sint quae quisquam suscipit aspernatur, pariatur impedit 
                nostrum optio quam accusamus sequi libero voluptates.
            </p>
        </div>
    </div>
</section>