<div>
    <!-- showcase(entry)-->
    <section class="showcase">
        <div class="container grid">
            <div class="showcase-text">
                <h1>Easier Deployment</h1>
                <p>Lorem ipsum dolor, 
                    sit amet consectetur adipisicing elit.
                    Autem unde facere commodi eveniet nulla 
                    corporis praesentium corrupti doloremque officia,
                </p>
                <a routerLink="showcase" class="btn btn-outline">Read More</a>
            </div>
             <app-showcase-form></app-showcase-form>
        </div>
    </section>
    <!-- stats -->
    <section class="stats">
        <app-stats></app-stats>
    </section>
    <!-- cli -->
    <section>
        <app-cli></app-cli>
    </section>
    <!-- cloud -->
    <section>
        <app-cloud></app-cloud>
    </section>
    <!-- languages -->
    <section >
        <app-languages ></app-languages>
    </section>
</div> 