<!-- stats -->
<!-- <section class="stats"> -->
<div class="stats">
    <div class="container">
        <h3 class ="start-heading text-center my-1">
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Odit a adipisci dolorum!
        </h3>
       
        <div class="grid grid-3 text-center my-4">
            <div>
                <i class="fas fa-server fas-3x"></i>
                <h3>10,349,405</h3>
                <p class="text-secondary">Deployment</p>
            </div>
            <div>
                <i class="fas fa-upload fas-3x"></i>
                <h3>947 TB</h3>
                <p class="text-secondary">Published</p>
            </div>
            <div>
                <i class="fas fa-project-diagram fas-3x"></i>
                <h3>10,349,405</h3>
                <p class="text-secondary">Projects</p>
            </div>
        </div>
    </div>
</div>
<!-- </section> -->