<div>
    <!-- head area -->
    <section class="feature-head bg-primary py-3">
        <div class="container grid">
            <div>
                <h1 class="xl">Features</h1>
                <p class="lead">Lorem, ipsum dolor 
                    sit amet consectetur 
                    adipisicing elit. Est porro 
                    ullam veniam explicabo 
                </p>
            </div>
            <img src="../../assets/server.png" alt="server.png">
        </div>
    </section>

    <!-- sub head -->
    <section class="feature-sub-head bg-light py-3">
        <div class="container grid">
            <div>
                <h1 class="md">The Loruki Platform</h1>
                <p>Lorem ipsum dolor sit 
                    amet consectetur adipisicing elit. 
                    Veritatis, magni at hic ut dolores 
                    voluptatem voluptate modi consequuntur
                </p>
            </div>
            <img src="../../assets/server(1).png" alt="subhead server.png ">
        </div>
    </section>

    <!-- feature main section -->
    <section class="feature-main my-2">
        <div class="container grid grid-3">
            <div class="card flex">
                <i class="fas fa-server fa-3x"></i>
                <p>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Doloribus iste aliquid odit,
                    commodi, numquam eligendi obcaecati, maxime 
                    aperiam quaerat sed architecto quod quasi eos 
                    ducimus. Velit doloremque eligendi voluptatibus 
                    laudantium!
                </p>
            </div>
            <div class="card flex">
                <i class="fas fa-server fa-3x"></i>
                <p>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Doloribus iste aliquid odit,
                    commodi, numquam eligendi obcaecati, maxime 
                    aperiam quaerat sed architecto quod quasi eos 
                    ducimus. Velit doloremque eligendi voluptatibus 
                    laudantium!
                </p>
            </div>
            <div class="card flex">
                <i class="fas fa-server fa-3x"></i>
                <p>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Doloribus iste aliquid odit,
                    commodi, numquam eligendi obcaecati, maxime 
                    aperiam quaerat sed architecto quod quasi eos 
                    ducimus. Velit doloremque eligendi voluptatibus 
                    laudantium!
                </p>
            </div>
            <div class="card flex">
                <i class="fas fa-server fa-3x"></i>
                <p>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Doloribus iste aliquid odit,
                    commodi, numquam eligendi obcaecati, maxime 
                    aperiam quaerat sed architecto quod quasi eos 
                    ducimus. Velit doloremque eligendi voluptatibus 
                    laudantium!
                </p>
            </div>
            <div class="card flex">
                <i class="fas fa-server fa-3x"></i>
                <p>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Doloribus iste aliquid odit,
                    commodi, numquam eligendi obcaecati, maxime 
                    aperiam quaerat sed architecto quod quasi eos 
                    ducimus. Velit doloremque eligendi voluptatibus 
                    laudantium!
                </p>
            </div>
            <div class="card flex">
                <i class="fas fa-server fa-3x"></i>
                <p>Lorem ipsum dolor sit amet consectetur 
                    adipisicing elit. Doloribus iste aliquid odit,
                    commodi, numquam eligendi obcaecati, maxime 
                    aperiam quaerat sed architecto quod quasi eos 
                    ducimus. Velit doloremque eligendi voluptatibus 
                    laudantium!
                </p>
            </div>




        </div>
    </section>
</div>